@import "@src/styles/_variables.scss";

.note {
  width: 100%;
  max-width: 390px;
  background-color: $color-shape;
  border-radius: $border-radius;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.25);

  .note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;

    .note-title {
      font-family: $font-family;
      font-size: $font-size;
      color: $color-typography;
      font-weight: 700;
      margin: 0;
      line-height: 1.5;
    }

    .note-icon {
      cursor: pointer;
      color: $color-typography;
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);

      &.Active {
        color: #FFA000 !important;
      }
    }

    &.editing {
      padding: 0;

      .note-title {
        display: none;
      }

      input {
        width: 100%;
        padding: 1rem 3rem 1rem 1rem;
        font-family: $font-family;
        font-size: $font-size;
        color: $color-typography;
        font-weight: 700;
        background-color: transparent;
        border: none;
        outline: none;
        line-height: 1.5;
      }
    }
  }

  .note-body {
    padding: 1rem;
    border-top: 1px solid $color-border;
    min-height: 330px;

    &.border-white {
      border-top: 1px solid $color-shape;
    }

    p {
      font-family: $font-family;
      font-size: $font-size;
      color: $color-typography;
      margin: 0;
    }

    &.editing {
      padding: 0;

      input, textarea {
        width: 100%;
        padding: 1rem;
        font-family: $font-family;
        font-size: $font-size;
        color: $color-typography;
        background-color: transparent;
        border: none;
        outline: none;
        resize: none;
      }
    }
  }

  .note-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .note-actions {
      display: flex;
      align-items: center;
      gap: 5px;

      .note-action {
        width: 34px;
        height: 34px;
        border: none;
        outline: none;
        background-color: transparent;
        border-radius: 50%;
        transition: all 0.3s;
        color: $color-typography;
        cursor: pointer;

        &:hover {
          background-color: $color-primary;
        }

        &.active {
          background-color: $color-primary;
        }
      }
    }
  }
}
