$border-radius: 25px; 
$font-size: 14px;
$font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$color-primary: #FFE8AC;
$color-typography: #4F4F4D;
$color-background: #F0F2F5;
$color-shape: #FFFFFF;
$color-border: #CED4DA;
